@use "../../styles/partials/mixins" as *;

.VideoList {
  padding: 1rem;

  &__title {
    margin: 0rem 1rem;
  }

  &-item {
    list-style-type: none;
    display: flex;
    margin: 1rem 0rem;

    &__image {
      list-style-type: none;
      width: 35%;
      list-style: none;
      border-radius: 2px;
      @include tablet-and-desktop {
        width: 25%;
      }
    }
  }
}

.VideosList-item__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
}
