@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.UploadPage {
  &__thumbnail {
    @include desktop {
      width: 60%;
    }
  }

  &__container {
    padding: 1rem;
    @include desktop {
      max-width: 1280px;
      margin: auto;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      padding: 1rem 0rem;
      border-bottom: 1px solid $brand-primary;
      border-top: 1px solid $brand-primary;
    }

    padding: 1rem;
  }
  &__img {
    width: 100%;
  }

  &__divider1 {
    height: 1px;
    background-color: $brand-primary;
    width: 100%;
    margin: auto;
  }

  &__title {
    margin: 1rem;
    font-weight: 700;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include desktop {
      margin-left: 1rem;
    }
  }

  &__publish {
    background-image: url(../../assets/Icons/publish.svg);
    background-position: 0.1cm;
    background-repeat: no-repeat;
    text-indent: 1rem;
    margin: 0.5rem;
    padding: 0.8rem 3rem;
    border: none;
    border-radius: 6px;
    background-color: $button-primary;
    color: $text-primary;
  }

  &__cancel {
    color: $button-primary;
    background-color: $text-primary;
    border: none;
    width: 100%;
  }

  &__buttons {
    flex-direction: column;
    display: flex;
    @include tablet-and-desktop {
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  &__subtitle {
    color: $brand-primary;
    text-transform: uppercase;
    margin: 0.6rem 0rem;
  }

  &__label {
    margin: 0.6rem 0rem;
    color: $brand-primary;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  &__input {
    border-radius: 6px;
    height: 2rem;
    border: 1px solid $brand-primary;
    &::placeholder {
      font-family: Avenir Next;
    }

    &--description {
      height: 5rem;
      border-radius: 6px;
      border: 1px solid $brand-primary;
      &::placeholder {
        font-family: Avenir Next;
      }
      @include tablet-and-desktop {
        width: 100%;
      }
    }
  }
}
