$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$container-max-width: 1120px;

$background-primary: #323232;
$background-secondary: #e1e1e1;
$brand-primary: #afafaf;
$background-secondary: #fafafa;

$text-primary: white;
