@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  @include tablet-and-desktop {
    display: flex;
    justify-content: space-evenly;
  }
  &__branding {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
  }
}

.form {
  @include tablet-and-desktop {
    padding: 1rem;
  }
  &__search {
    background-image: url(../../assets/Icons/search.svg);
    background-position: 0.1cm;
    background-repeat: no-repeat;
    text-indent: 1rem;
    padding: 0.5rem 2rem;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &__avatar {
    margin-left: 0.3rem;
    width: 3rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.6rem;
    @include tablet-and-desktop {
      display: none;
    }

    &-tab {
      display: none;
      @include tablet-and-desktop {
        display: flex;
        margin-left: 0.3rem;
        width: 3rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 0.6rem;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    background-image: url(../../assets/Icons/upload.svg);
    background-position: 0.1cm;
    background-repeat: no-repeat;
    text-indent: 1rem;
    margin: 0.5rem;
    padding: 0.8rem 7rem;
    border: none;
    border-radius: 6px;
    background-color: $button-primary;
    color: $text-primary;
  }
}
