@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.VideoDisplay {
  &__comments {
    &-number {
      margin: 0.4rem 0rem;
      padding: 1rem;
    }

    &-area {
      display: flex;
      padding: 0rem 1rem;
    }

    &-prompt {
      color: $brand-primary;
      padding: 0rem 5rem;
      margin: 0.3rem 0rem;
    }

    &-btn {
      background-image: url(../../assets/Icons/add_comment.svg);
      background-position: 0.1cm;
      background-repeat: no-repeat;
      text-indent: 1rem;
      margin-top: 1rem;

      display: block;

      padding: 0.7rem 5.5rem;

      margin-left: 5rem;

      background-color: $button-primary;
      color: $text-primary;
      border-radius: 6px;
      border: none;
      @include tablet-and-desktop {
        display: none;
      }
    }

    &-btndesk {
      display: none;
      @include tablet-and-desktop {
        background-image: url(../../assets/Icons/add_comment.svg);
        background-position: 0.1cm;
        background-repeat: no-repeat;
        text-indent: 1rem;

        display: flex;

        padding: 0.7rem 5.5rem;

        margin-left: 3rem;

        background-color: $button-primary;
        color: $text-primary;
        border-radius: 6px;
        border: none;
      }
    }

    &-avatar {
      margin-left: 0.3rem;
      width: 3rem;
      height: 2rem;
      border-radius: 50%;
      margin-right: 0.6rem;
    }
  }

  &__existing {
    &-comments {
      padding: 1rem;
    }

    &-comment {
      margin: 0.5rem 0rem;
      border-bottom: 1px solid $brand-primary;
    }
  }
}
.comments {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__avatar {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.comment {
  &__text {
    margin: 0.5rem 0rem;
  }

  &__date {
    color: $brand-primary;
  }

  &__avatar {
    background-color: $brand-primary;
    border-radius: 6rem;
    height: 2rem;
    width: 2rem;
  }

  &__name {
    font-weight: 500;
  }
}

textarea {
  @include tablet-and-desktop {
    width: 50%;
    height: 2rem;
  }
}
